{% extends 'layout.html' %}
{% block main %}


<div id="page-wrapper">
            <div class="row">
               <div class="col-lg-12">
                  <h1 class="page-header">Dashboard</h1>
               </div>
               <!-- /.col-lg-12 -->
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Customer Profile Segmentation 
                     </div>
                     <!-- /.panel-heading -->
                     <div class="panel-body">
                        <div id="category-bubble-chart" >
                           <strong>Customer Segment</strong> (radius: count)
                           <a class="reset" href="javascript:categoryBubbleChart.filterAll();dc.redrawAll();"
                              style="display: none;">reset</a>
                           <div class="clearfix"></div>
                        </div>
                     </div>
                     <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
               </div>
            </div>
            <!-- /.col-lg-8 -->
            <div class="row">
               <div class="col-lg-3 col-sm-6 col-xs-12">
                  <div class="panel panel-primary">
                     <div class="panel-footer">
                           <span class="pull-left"><div class="numberbox-title">Average Order Size (AOS)</div></span>
                           <div class="clearfix"></div>
                        </div>

                     <div class="panel-heading">
                        <div class="row">
                           <div class="col-xs-3">
                              <i class="fa fa-credit-card  fa-5x"></i>
                           </div>
                           <div class="col-xs-9 text-right">
                              <span class="pull-right">                               
                                 <div id="number-ADS" class="dc-numberBox"></div>

                              </span>
                           </div>

                        </div>
                     </div>
                    
                     
                  
                  </div>
               </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                  <div class="panel panel-green">
                     <div class="panel-footer">
                           <span class="pull-left"><div class="numberbox-title">Average Unit Retail (AUR)</div></span>
                           <div class="clearfix"></div>
                        </div>

                     <div class="panel-heading">
                        <div class="row">
                           <div class="col-xs-3">
                              <i class="fa  fa-money   fa-5x"></i>
                           </div>
                           <div class="col-xs-9 text-right">
                              <span class="pull-right">                               
                                 <div id="number-AUR" class="dc-numberBox"></div>

                              </span>
                           </div>

                        </div>
                     </div>
                    
                     
                  
                  </div>
               </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                  <div class="panel panel-yellow">
                     <div class="panel-footer">
                           <span class="pull-left"><div class="numberbox-title">Units Per Trip (UPT)</div></span>
                           <div class="clearfix"></div>
                        </div>

                     <div class="panel-heading">
                        <div class="row">
                           <div class="col-xs-3">
                              <i class="fa  fa-cart-arrow-down   fa-5x"></i>
                           </div>
                           <div class="col-xs-9 text-right">
                              <span class="pull-right">                               
                                 <div id="number-UPT" class="dc-numberBox"></div>

                              </span>
                           </div>

                        </div>
                     </div>
                    
                     
                  
                  </div>
               </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                  <div class="panel panel-red">
                     <div class="panel-footer">
                           <span class="pull-left"><div class="numberbox-title">Average Annual Spend (AAS) </div></span>
                           <div class="clearfix"></div>
                        </div>

                     <div class="panel-heading">
                        <div class="row">
                           <div class="col-xs-3">
                              <i class="fa  fa-shopping-bag   fa-5x"></i>
                           </div>
                           <div class="col-xs-9 text-right">
                              <span class="pull-right">                               
                                 <div id="number-AAS" class="dc-numberBox"></div>

                              </span>
                           </div>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Demographics
                     </div>
                     <!-- /.panel-heading -->
                     <div class="panel-body col-lg-12">
                        <div class="row">
                        <div id="age-distribution-chart" class="dc-chart col-lg-4 col-xs-12">
                           <strong>Age Distribution</strong> 
                           <a class="reset" href="javascript:ageDistributionChart.filterAll();dc.redrawAll();"
                              style="display: none;">reset</a>
                        
                        </div>
                        <div id="income-distribution-chart" class="dc-chart col-lg-4 col-xs-12">
                           <strong>Income Distribution</strong> 
                           <a class="reset" href="javascript:incomeDistributionChart.filterAll();dc.redrawAll();"
                              style="display: none;">reset</a>
                         </div>                         
                        <div class="clearfix"></div>

                        </div>
                     </div>
                     <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <i class="fa fa-users fa-fw"></i> Customer Segment Migration
                     </div>
                     <!-- /.panel-heading -->
                     <div class="panel-body">
                         <div class="row">
                          
                           <div class="col-lg-12">
                              <strong>Migration Chart</strong> 
                              <div id="migration-chord-chart">  </div>
                           </div>
                           <div class="clearfix"></div>
                        </div>

                        <div class="row">
                           <div class="col-lg-12">
                              <strong>Migration Matrix</strong> 
                              <a class="reset" id="impact-reset" style="display: none;">reset</a>
                              <div class="table-responsive">
                                 <table  id="migration-matrix" class="table"></table>
                              </div>
                              <div><strong>Migration Value Impact</strong> </div>
                              <div id="value-impact-chart" >
                                    
                              </div>
                           </div>    
      
                           <div class="clearfix"></div>
                        </div>
                        
                     </div>
                     
                     <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
               </div>
            </div>
         
         </div>
{% endblock %}

{% block scripts %}
      <!-- jQuery -->
      <script src="/static/js/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/static/js/bootstrap.min.js"></script>
      <!-- Metis Menu Plugin JavaScript -->
      <script src="/static/js/metisMenu.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="/static/js/sb-admin-2.js"></script>
  
      <!-- DC charts JavaScript -->
      <script type="text/javascript" src="/static/js/d3.js"></script>
      <script type="text/javascript" src="/static/js/crossfilter.js"></script>
      <script type="text/javascript" src="/static/js/dc.js"></script>
      <script type="text/javascript" src="/static/js/colorbrewer.js"></script>
      <!-- application custom javascript -->
      <script> var customerData= {{customerData|safe }};      </script>
      <script> var migrationData= {{migrationData|safe }};     </script>
      <script> var valueImpactData= {{valueImpactData|safe }};     </script>
      <script src="/static/js/basic-editable-table.js"></script>
      // <script src="/static/js/circular_network.js"></script>
      <script src="/static/js/customerSegment.js"></script>
{% endblock %}