.dc-numberBox {

font-size: 40px;

}

.panel-blue numberbox-title  {
    color: #5cb85c;
}

#category-bubble-chart  {
width:100%;
min-height: 400px;
}


#age-distribution-chart {
width:50%;
min-height: 300px;
}

#income-distribution-chart  {
width:50%;
min-height: 300px;
}


/*.reset-button{
    width: 50px;
    height: 25px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 260px;
}
.reset-button:hover{
    background-color: #eee;
}
.reset-button:active{
    background-color: #ccc;
}
.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/
table{
    border-collapse: collapse;
}
.table{
    top: 100px;
}

.header-row::before {
    content: " ";
    display: table;
}
td, th{
    border: 1px solid black;
    background-color: white;
    width: 70px;
    padding: 5px;
    text-align: left;
}
th.header{
    cursor: default;
}
.tooltip{
    background-color: aliceblue;
    pointer-events: none;
    margin-left: 10px;
    padding: 10px;
    opacity: 0.8;
}

/*#value-impact-chart .x-axis-label {
     
}*/

#circle circle {
fill: none;
pointer-events: all;
}
 
.group path {
fill-opacity: .7;
}

path.chord {
stroke: #000;
stroke-width: .25px;
}
 
#circle:hover path.fade {
display: none;
}

